<!DOCTYPE html>
<html>
  <head>
    <title>Simplicitweet</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="full-page">
    <%= render "layouts/nav" %>
    <div class="container-fluid">
      <%= yield %>
      <% if !current_user %>
        </div>
          <header class="intro-header">
            <div class="container">
              <div class="intro-message">
                <h1>
                  It's time to simplify your Twitter feed.
                </h1>
                <h5>
                  Ready to get started? <a class="signup"><%= link_to "Sign in with Twitter", "/auth/twitter" %></a>
                </h5>
              </div>
            </div>
          </header>
        <div>
      <% end %>
    </div>
  </body>
</html>
